body {
  font-weight: normal;
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
  }
}

nav > a {
  margin-right: 0.5rem;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

h2,h3,h4,h5,h6 {
  margin-bottom: 0!important;
}

mark {
  padding: 0.05rem 0.10rem;
}

section:has(div > h1) > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  img {
    object-fit: cover;
  }
}

section > h2 + * {
  margin-top: 0.25rem;
}

section {
  width: 95%;
  margin: 0 auto;
}

@media (width >= 40rem) {
  section {
    width: 55%;
  }
}

@media (width >= 48rem) {
  section {
    width: 50%;
  }
}

@media (width >= 64rem) {
  section {
    width: 35%;
  }
}

@media (width >= 80rem) {
  section {
    width: 35%;
  }
}

@media (width >= 96rem) {
  section {
    width: 30rem;
  }
}
